@charset "UTF-8";
@import url('../../../https@fonts.googleapis.com/css@family=Poppins_3A100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('../../../https@fonts.googleapis.com/css@family=Lato_3A100,100i,300,300i,400,400i,700,700i,900,900i');

/*
01. Theme Typo
02. Header
	02.1 Top Strip
		02.1.1 Top Info
		02.1.2 Search
	02.1 Logo
	02.2 Navigation
		02.2.1 SubMenu
		02.2.1 MegaMenu
03. Content

	03.1 Blog
		03.1.2 Blog Grid
		03.1.3 Blog Large
		03.1.4 Blog Detail

	03.3 Default Pages Style
		03.3.1 404
		03.3.2 Services
		03.3.3 No Search Result
		03.3.4 Contact Us
        03.3.5 PricePlan
        03.3.6 Faq
        03.3.7 About Us

	03.4 Projects
		03.4.1 Project Grid
		03.4.2 Project Medium
		03.4.3 Project Modren
		03.4.4 Artist Detail

	03.5 Team
		03.5.1 Team Grid
		03.5.2 Team Detail

	03.6 Shop
		03.6.1 Shop Grid
		03.6.2 Shop Detail

04. Sidebar Widget
	04.1 Widget CATEGORY WIDGET
	04.2 Widget Latest News
	04.3 Widget Calendar Archive
	04.4 Widget Text
	04.5 Widget Recent Posts
	04.7 Widget Intagram Photos
	04.8 Popular Tags
	04.9 User Links

05. Footer
    05.1 Footer Widgets
    05.2 CopyRight
*/

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    color: #7e7e7e;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 1.5;
    margin: 0 0 8px;
    letter-spacing: 0.7px;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2e2e2e;
}
p a {
    color: #2e2e2e;
}
p {
    line-height: 24px;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
}
a {
    color: #2e2e2e;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    outline: none;
}
ul {
    margin-bottom: 0;
}
figure {
    margin-bottom: 6px;
    position: relative;
}
img {
    height: auto;
    max-width: 100%;
}
strong {
    color: #2e2e2e;
}
iframe {
    border: none;
    float: left;
    width: 100%;
}
.wp-caption, .wp-caption-text, .gallery-caption, .bypostauthor {
}
.wp-caption.alignleft, .wp-caption.alignnone {
    width: 100%;
}
select {
    background-color: #f0eef0;
    border: 1px solid #dfdfdf;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 8px 12px;
    width: 100%;
}
label {
    color: #6c8391;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}
button {
    border: none;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #f2f2f2;
    border: none;
    color: #aaa9a9;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 20px;
    outline: none;
    padding: 4px 6px;
    vertical-align: middle;
    box-shadow: none;
}
input[type="submit"] {
    outline: none;
}
form p {
    float: left;
    position: relative;
}
form p span i {
    color: #474747;
    left: 16px;
    position: absolute;
    top: 13px;
}
option {
    padding: 5px 15px;
}
li {
    line-height: 28px;
    list-style: inside none disc;
}
ul ul {
    margin-left: 20px;
}
ol {
    float: none;
    list-style: outside none decimal;
    padding-left: 15px;
}
ol ol {
    margin-left: 20px;
}
ol li {
    list-style: outside none decimal;
    width: 100%;
}
table {
    background-color: transparent;
    max-width: 100%;
}
th {
    text-align: left;
}
table {
    margin-bottom: 15px;
    width: 100%;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    border: 1px solid #dddddd;
    line-height: 2.5;
    padding-left: 3px;
    text-align: center;
    vertical-align: top;
}
table thead tr th {
    border-top: 1px solid #dddddd;
    text-align: center;
    text-transform: capitalize;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 1px solid #dddddd;
}
table > thead > tr > th {
    border-bottom: 2px solid #dddddd;
    vertical-align: bottom;
}
table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td {
    border-bottom: 0 none;
}
table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 6px 10px;
}
p ins {
    color: #999;
}
dl dd 	{ margin-left: 20px; }
address { font-style: italic; }
.ereaders-main-section {
	float: left;
	width: 100%;
	position: relative;
}
.ereaders-main-content 	    { padding: 100px 0px 60px 0px; }
.ereaders-right-section 	    { float: right; }
.ereaders-left-section 	    { float: left; }
.ereaders-main-wrapper,.ereaders-main-content,
.ereaders-main-header,#ereaders-header {
    float: left;
    width: 100%;
}
/* Header */
.ereaders-main-header {
    padding: 30px 0px;
    position: relative;
    z-index: 1;
}
.logo {
    float: left;
    width: 100%;
    padding: 0px 0px 0px;
}
/* Navigation */
a.menu-link {
    color: #2e2e2e;
    display: none;
}
.menu-link span {
  border-bottom: solid 3px #2e2e2e;
  border-top: double 10px #2e2e2e;
  float: right;
  height: 17px;
  margin: 0 5px 0px 0;
  width: 30px;
}
.js .menu > ul ul.active {
  margin: 0;
  max-height: 55em;
  padding: 0;
}
.menu.active {
  max-height: 100em;
  width: 100%;
}
span.has-subnav {
  display: none;
  font-size: 1em;
  position: absolute;
  right: 0;
  padding: 0;
  top: 0;
  cursor: pointer;
  width: 52px;
  text-align: center;
  height: 100%;
  line-height: 2.7;
  border-left: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  background-color: #f9f9f9;
  font-size: 20px;
}
.navbar-nav > li {
    margin: 0px 11px;
    position: relative;
    list-style: none;
}
.navbar-nav > li:first-child { margin-left: 0px;}
.navbar-nav > li:last-child { margin-right: 0px;}
.navbar {
    background: none;
    border: none;
    float: left;
    margin-bottom: 0px;
    padding-left: 52px;
    min-height: auto;
}
.navbar-nav > li > a {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    padding: 9px 16px 11px;
    position: relative;
    color: #3e4045;
}
.navbar-nav > li > a:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 17px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    border: 1px solid #707070;
}
.navbar-nav > li.active > a,
.navbar-nav > li:hover > a { color: #fff;}
.navbar-nav > li:first-child { padding-left: 0px; }
.navbar-nav > li:last-child { padding-right: 0px; }
.navbar-nav li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
}
.navbar-nav .sub-menu {
    background-color: #fff;
    left: 0;
    margin: 4px 0px 0px 0px;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 227px;
    z-index: 999;
}
.navbar-nav .sub-menu .sub-menu {
    left: 100%;
    top: 0%;
    margin-top: 0px;
}
.navbar-nav .sub-menu > li {
    float: left;
    list-style: none;
    position: relative;
    width: 100%;
}
.navbar-nav .sub-menu li a {
    border-bottom: 1px solid #f8f8f8;
    color: #576777;
    float: left;
    font-size: 14px;
    font-weight: 400;
    padding: 13px 25px;
    width: 100%;
}
.navbar-nav .sub-menu > li:last-child > a { border: none; }
.ereaders-simple-btn {
    float: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 28px 9px;
    border-radius: 3px;
    margin: 3px 0px 0px;
}
/*ereaders-banner*/
.ereaders-banner {
    float: left;
    width: 100%;
    position: relative;
}
.ereaders-banner-transparent {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    opacity: 0.20;
}
.ereaders-banner-caption {
    position: absolute;
    left: 0px;
    top: 50%;
    margin: -140px 0px 0px;
    width: 100%;
}
.ereaders-banner-thumb {
    float: left;
    width: 100%;
    position: relative;
}
.ereaders-banner-thumb img {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: -115px 0 0;
    /*box-shadow: 0px 8px 10px rgba(0,0,0,0.25);*/
}
@media (min-width: 1250px) and (max-width: 1500px) { .ereaders-banner-thumb img {margin: -215px 0 0;}}
@media (min-width: 1500px) and (max-width: 1800px) { .ereaders-banner-thumb img {margin: -187px 0 0;}}
.ereaders-banner-text,.ereaders-banner-text-two,.ereaders-banner-layer {
    float: left;
    width: 100%;
}
.ereaders-banner-text h2 {
    margin: 0px 0px 10px;
    font-size: 70px;
    color: #ffffff;
    line-height: 1;
}
.ereaders-banner-text h3 {
    margin: 0px 0px 25px;
    font-size: 40px;
    line-height: 1;
    color: #ffffff;
}
.ereaders-banner-text p {
    margin: 0px 0px 29px;
    color: #ffffff;
    float: left;
    width: 90%;
    line-height: 28px;
}
.ereaders-banner-text .ereaders-simple-btn {
    float: left;
    font-size: 16px;
    border-radius: 4px;
    padding: 9px 30px 8px;
}
.ereaders-banner-text-two h2 {
    text-transform: uppercase;
    margin: 0px 0px 14px;
    font-size: 42px;
    line-height: 1;
}
.ereaders-banner-text-two h3 {
    margin: 0px 0px 27px;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.5px;
}
.ereaders-banner-text-two p {
    margin: 0px 0px 28px;
    float: left;
    width: 73%;
    line-height: 28px;
}
.ereaders-banner-text-two .ereaders-simple-btn {
    float: left;
    font-size: 16px;
    border-radius: 4px;
    padding: 9px 30px 8px;
}
.ereaders-banner-thumb-two {
    float: left;
    width: 100%;
    position: relative;
}
.ereaders-banner-thumb-two img {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: -188px 0 0;
}
/*Content*/
.ereaders-content-padding { padding-top: 0px;}
.ereaders-counter {
    float: left;
    width: 100%;
}
.ereaders-counter ul li {
    list-style: none;
    float: left;
    width: 33.333%;
    text-align: center;
    padding: 15px 0px 9px;
    position: relative;
}
.ereaders-counter ul li:before {
    content: '';
    position: absolute;
    right: 0px;
    height: 80px;
    background-color: #e0e0e0;
    width: 1px;
    top: 0px;
}
.ereaders-counter ul li:last-child:before { content: none;}
.ereaders-counter-text {
    display: inline-block;
    width: 170px;
    text-align: left;
}
.ereaders-counter ul li i {
    float: left;
    font-size: 51px;
}
.ereaders-counter ul li i.ereaders-book { font-size: 57px;}
.ereaders-counter ul li i ~ .ereaders-scroller { padding-left: 75px;}
.ereaders-counter ul li .numscroller {
    font-size: 25px;
    font-weight: 600;
    color: #2e2e2e;
    line-height: 1;
    display: block;
    margin: 0px 0px 3px;
}
.ereaders-counter ul li span {
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    text-transform: uppercase;
}
/*ereaders-work-learn*/
.ereaders-work-learn {
    float: left;
    width: 100%;
}
.ereaders-work-learn h2 {
    margin: 0px 0px 22px;
    text-transform: uppercase;
    line-height: 1.6;
}
.ereaders-work-learn p {
    margin: 0px 0px 15px;
    line-height: 26px;
}
.ereaders-work-learn .ereaders-simple-btn {
    float: left;
    font-weight: 400;
    padding: 9px 29px 10px;
    margin: 18px 0px 0px;
}
.ereaders-simple-btn:hover { background-color: #2e2e2e;}
.ereaders-work-learn .ereaders-simple-btn i {
    float: right;
    margin: 3px 0px 0px 15px;
}
/*Fancy Title*/
.ereaders-fancy-title {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px 0px 74px;
}
.ereaders-fancy-title h2 {
    margin: 0px 0px 23px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    position: relative;
    display: inline-block;
    padding: 14px 0px 0px 35px;
}
.ereaders-fancy-title h2:before {
    content: '';
    border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 45px;
    border: 1px solid;
}
.ereaders-fancy-title h2:after {
    content: '';
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 45px;
    height: 45px;
    border: 1px solid;
}
.ereaders-fancy-title p {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    width: 44%;
    letter-spacing: 0.8px;
}
/*service grid*/
.ereaders-service,.ereaders-service-grid-text {
    float: left;
    width: 100%;
}
.ereaders-service > ul > li {
    list-style: none;
    margin: 0px 0px 30px;
}
.ereaders-service.ereaders-service-grid > ul > li { margin: 0px 0px 50px;}
.ereaders-service-grid-text {
    padding: 41px 30px 32px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
}
.ereaders-service-grid ul li:hover .ereaders-service-grid-text { box-shadow: 0px 0px 10px rgba(0,0,0,0.03);}
.ereaders-service-grid-text i {
    font-size: 65px;
    display: block;
    margin: 0px 0px 29px;
}
.ereaders-service-grid-text h5 {
    margin: 0px 0px 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.ereaders-service-grid-text p {
    margin: 0px;
    line-height: 26px;
}
/*Service Provide*/
.ereaders-service-provide {
    float: left;
    width: 100%;
}
.ereaders-service-provide h3 {
    text-transform: uppercase;
    margin: 0px 0px 23px;
    letter-spacing: 1.7px;
}
.ereaders-service-provide h3 span {
    font-size: 67px;
    float: left;
    line-height: 1;
    margin: -2px 10px 0px 0px;
}
.ereaders-service-provide p {
    margin: 0px 0px 15px;
    line-height: 26px;
    letter-spacing: 1px;
}
/*ereaders-service-list*/
.ereaders-service.ereaders-service-list > ul > li { margin: 0px 0px 22px;}
.ereaders-service-list i {
    float: left;
    font-size: 25px;
}
.ereaders-service-list i ~ h5 {
    margin: 0px 0px 10px;
    padding: 4px 0px 0px 39px;
}
.ereaders-service-list p {
    margin: 0px;
    line-height: 26px;
    letter-spacing: 0.6px;
}
/*ereaders-blog-grid*/
.ereaders-blog,.ereaders-blog-grid figure,.ereaders-blog-grid figure a,.ereaders-blog-grid figure a img,
.ereaders-blog-grid-wrap,.ereaders-blog-grid-text,.ereaders-blog-option {
    float: left;
    width: 100%;
}
.ereaders-blog > ul > li {
    list-style: none;
    float: none;
    display: inline-block;
    margin: 0px -4px 30px 0px;
}
.ereaders-blog-grid-wrap {
    padding: 21px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 4px;
}
.ereaders-blog-grid ul li:hover .ereaders-blog-grid-wrap { box-shadow: 0 0 15px rgba(0,0,0,0.04);}
.ereaders-blog-grid figure { margin: 0px 0px 14px;}
.ereaders-blog-grid figure a img { border-radius: 3px;}
.ereaders-blog-grid-text { padding: 0px 0px 1px;}
.ereaders-blog-grid-text span {
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
}
.ereaders-blog-grid-text h2 {
    text-transform: uppercase;
    margin: 0px 0px 7px;
    font-size: 16px;
}
.ereaders-blog-option { margin: 0px 0px 15px;}
.ereaders-blog-option li {
    float: left;
    list-style: none;
    margin: 0px 0px 5px;
    font-size: 11px;
    position: relative;
    padding: 0px 11px;
    line-height: 1;
}
.ereaders-blog-option li:first-child { padding-left: 0px;}
.ereaders-blog-option li:last-child { padding-right: 0px;}
.ereaders-blog-option li:before {
    content: '/';
    position: absolute;
    right: -2px;
    top: 0px;
    font-size: 11px;
}
.ereaders-blog-option li:last-child:before { content: none;}
.ereaders-blog-option li a { color: #7e7e7e;}
.ereaders-blog-grid-text p {
    margin: 0px 0px 14px;
    line-height: 26px;
}
.ereaders-readmore-btn { display: inline-block;}
.ereaders-readmore-btn i {
    float: right;
    margin: 8px 0px 0px 6px;
    font-size: 13px;
}
/*About Author*/
.ereaders-author-thumb,.ereaders-author-text,.ereaders-author-social {
    float: left;
    width: 100%;
}
.ereaders-author-thumb { text-align: center;}
.ereaders-author-text { padding-top: 20px;}
.ereaders-author-text h2 {
    text-transform: uppercase;
    margin: 0px 0px 23px;
}
.ereaders-author-text h5 {
    margin: 0px 0px 23px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
}
.ereaders-author-text p {
    margin: 0px 0px 15px;
    line-height: 26px;
}
.ereaders-author-text img {
    display: inline-block;
    margin: 7px 0px 39px;
}
.ereaders-author-social li {
    float: left;
    list-style: none;
    margin: 0px 15px 10px 0px;
}
.ereaders-author-social li:last-child { margin: 0px;}
.ereaders-author-social li a {
    float: left;
    width: 30px;
    height: 30px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    padding-top: 8px;
}
.ereaders-author-social li a.fa-facebook { background-color: #405496;}
.ereaders-author-social li a.fa-twitter { background-color: #55acee;}
.ereaders-author-social li a.fa-pinterest-p { background-color: #c82918;}
.ereaders-author-social li a.fa-google-plus { background-color: #d8402d;}
/*Testimonial*/
.ereaders-testimonial,.ereaders-testimonial-slide,.ereaders-testimonial-slide figure img,
.ereaders-testimonial-wrap {
    float: left;
    width: 100%;
}
.ereaders-testimonial {
    position: relative;
    padding: 0px 97px;
}
.ereaders-testimonial:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    height: 89%;
    background: rgba(46,46,46,0.05);
    border-radius: 4px;
}
.ereaders-testimonial-wrap {
    background-color: #fff;
    position: relative;
    padding: 50px 97px 100px;
    border-radius: 4px;
}
.ereaders-testimonial-slide { position: relative;}
.ereaders-testimonial-wrap .ereaders-fancy-title { margin: 0px 0px 42px;}
.ereaders-testimonial-slide figure img { border-radius: 3px;}
.ereaders-testimonial-slide figure {
    float: left;
    margin: 0px;
    width: 267px;
}
.ereaders-testimonial-slide figure ~ .ereaders-testimonial-text {
    margin: -8px 0px 0px 267px;
    padding: 0px 0px 0px 24px;
    position: relative;
}
.ereaders-testimonial-text:before {
    content: "\e92d";
    font-family: icomoon;
    position: absolute;
    right: 0px;
    bottom: -43px;
    line-height: 0.8;
    font-size: 142px;
    color: #000;
    opacity: 0.05;
}
.ereaders-testimonial-text h4 {
    text-transform: uppercase;
    margin: 0px 0px 7px;
    border-bottom: 1px solid #ececec;
    letter-spacing: 1.4px;
    padding: 0px 0px 12px;
}
.ereaders-testimonial-text span {
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    letter-spacing: 3.5px;
    margin: 0px 0px 25px;
}
.ereaders-testimonial-text p {
    margin: 0px;
    font-size: 22px;
    font-style: italic;
    line-height: 35px;
    letter-spacing: 1.5px;
}
.ereaders-testimonial-slide .slick-arrow {
    position: absolute;
    right: -127px;
    top: 50%;
    width: 50px;
    font-size: 18px;
    height: 45px;
    color: #ffffff;
    text-align: center;
    padding: 9px 0px 0px;
    margin: -24px 0px 0px;
    z-index: 1;
    cursor: pointer;
}
.ereaders-testimonial-slide .slick-arrow-left.slick-arrow { right: auto; left: -127px;}
.ereaders-testimonial-slide .slick-dots {
    bottom: -87px;
}
.ereaders-testimonial-slide .slick-dots li button {
    background-color: #e4e4e4;
    width: 6px;
    height: 6px;
    border-radius: 0px;
    border: none;
}
.ereaders-testimonial-slide .slick-dots li.slick-active button {
    background-color: #dddddd;
    height: 11px;
}
/*ereaders-app-text*/
.ereaders-app-text,.ereaders-app-thumb {
    float: left;
    width: 100%;
}
.ereaders-app-text h5 {
    margin: -7px 0px 24px;
    font-weight: 400;
    line-height: 30px;
}
.ereaders-app-text p {
    margin: 0px 0px 15px;
    line-height: 26px;
    letter-spacing: 0.6px;
}
.ereaders-fancy-btn {
    float: left;
    background-color: #2e2e2e;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 21px 13px 19px;
    margin: 17px 26px 0px 0px;
}
.ereaders-fancy-btn i {
    float: left;
    margin: 4px 15px 0px 0px;
    font-size: 36px;
}
.ereaders-fancy-btn span {
    float: left;
    font-size: 22px;
    line-height: 0.9;
    letter-spacing: 0.2px;
}
.ereaders-fancy-btn span small {
    color: #9c9c9c;
    letter-spacing: 0px;
    font-size: 13px;
}
.ereaders-fancy-btn:hover span small { color: #ffffff;}
/*Partner*/
.ereaders-partner-slider {
    float: left;
    width: 100%;
    text-align: center;
}
.ereaders-partner-slider a { display: inline-block;}
.ereaders-partner-slider a:hover { opacity: 0.3;}
.ereaders-partner-slider a img {
    display: inline-block;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*FOOTER*/
#ereaders-footer,.ereaders-footer-widget,.ereaders-footer-newslatter form,.ereaders-footer-newslatter form input[type="email"] {
    float: left;
    width: 100%;
}
.ereaders-footer-widget {
    background-color: #2e2e2e;
    padding: 70px 0px 80px;
}
.ereaders-footer-newslatter {
    width: 66%;
    margin: 0 auto;
    text-align: center;
}
.ereaders-footer-newslatter h2 {
    margin: 0px 0px 14px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
.ereaders-footer-newslatter p {
    margin: 0px 0px 44px;
    color: #bbbbbb;
    width: 76%;
    display: inline-block;
}
.ereaders-footer-newslatter form {
    position: relative;
    margin: 0px 0px 53px;
}
.ereaders-footer-newslatter form input[type="email"] {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #555555;
    height: 50px;
    color: #7e7e7e;
    font-size: 12px;
    font-style: italic;
    padding-left: 29px;
}
.ereaders-footer-newslatter form input[type="submit"] {
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    border: none;
    padding: 13px 32px 14px;
    letter-spacing: 0.6px;
    border-radius: 0 3px 3px 0;
}
.ereaders-footer-logo { display: inline-block;}
/*ereaders-copyright*/
.ereaders-copyright {
    float: left;
    width: 100%;
    background-color: #373737;
    padding: 18px 0px 8px;
}
.ereaders-copyright p {
    float: left;
    margin: 0px;
    font-size: 14px;
    color: #999999;
}
.ereaders-copyright p i { font-size: 12px;}
.footer-social-network { float: right;}
.footer-social-network li {
    float: left;
    list-style: none;
    margin: 0px 0px 10px 10px;
}
.footer-social-network li a {
    font-size: 13px;
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 6px 0px 0px;
    color: #aaaaaa;
    background-color: #565656;
    border-radius: 3px;
}
.footer-social-network li:hover a { color: #ffffff;}
.footer-social-network li:hover a.fa-facebook { background-color: #405496;}
.footer-social-network li:hover a.fa-linkedin { background-color: #0077b5;}
.footer-social-network li:hover a.fa-twitter { background-color: #55acee;}
.footer-social-network li:hover a.fa-pinterest-p { background-color: #c82918;}
.footer-social-network li:hover a.fa-google-plus { background-color: #d8402d;}
/*SubHeader*/
.ereaders-subheader-text,.ereaders-subheader,.ereaders-breadcrumb {
    float: left;
    width: 100%;
}
.ereaders-subheader {
    text-align: center;
}
.ereaders-subheader-text {
    padding: 69px 0px 77px;
    position: relative;
    background-image: url("/extra-images/subheader-img1.jpg");
    background-position: center;
}
.ereaders-subheader-transparent {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(46,46,46,0.9);
}
.ereaders-subheader-text h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px 0px 1px;
    letter-spacing: 1.8px;
}
.ereaders-subheader-text p {
    color: #ffffff;
    font-size: 16px;
    margin: 0px;
    width: 44%;
    display: inline-block;
}
.ereaders-breadcrumb {
    background-color: #2e2e2e;
    padding: 9px 0px 13px;
}
.ereaders-breadcrumb ul li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
    position: relative;
    padding: 0px 18px;
    letter-spacing: 0.7px;
}
.ereaders-breadcrumb ul li:last-child:before { content: none;}
.ereaders-breadcrumb ul li:before {
    content: "\f105";
    position: absolute;
    right: -4px;
    top: 0px;
    color: #ffffff;
    font-size: 16px;
    font-family: FontAwesome;
}
.ereaders-breadcrumb ul li a { color: #ffffff;}
/*pagination*/
.ereaders-pagination,.ereaders-pagination > ul {
    float: left;
    width: 100%;
}
.ereaders-pagination {
    margin: 50px 0 30px;
    text-align: center;
}
.ereaders-pagination > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 17px 10px 0;
    vertical-align: middle;
}
.ereaders-pagination > ul > li > .previous span i { display: inline-block;}
.ereaders-pagination > ul > li > .previous,
.ereaders-pagination > ul > li > .next {
    line-height: 1;
    padding: 12px 0px 0px;
}
.ereaders-pagination > ul > li > a,.ereaders-pagination > ul > li > span {
    color: #fff;
    font-size: 14px;
    float: left;
    height: 40px;
    line-height: 2.4;
    padding: 3px 0px 0px;
    width: 40px;
    background-color: #696969;
    border-radius: 3px;
    font-weight: bold;
}
/*pagination*/
/*Blog Detail*/
.ereaders-blog-subheader,.ereaders-thumb-text,.ereaders-rich-editor,blockquote {
    float: left;
    width: 100%;
}
.ereaders-blog-subheader {
    background-image: url("extra-images/blog-subheader.jpg");
    background-position: center;
    position: relative;
    text-align: center;
    padding: 160px 0px 150px;
}
.ereaders-thumb-text h1 {
    color: #ffffff;
    margin: 0px 0px 12px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-size: 24px;
}
.ereaders-thumb-option { display: inline-block;}
.ereaders-thumb-option li {
    float: left;
    list-style: none;
    position: relative;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 31px 6px 0px;
    letter-spacing: 0.5px;
}
.ereaders-thumb-option li:last-child { margin-right: 0px;}
.ereaders-thumb-option li:before {
    content: '';
    position: absolute;
    right: -15px;
    top: 8px;
    width: 2px;
    height: 13px;
    background: rgba(255,255,255,0.8);
}
.ereaders-thumb-option li:last-child:before { content: none;}
.ereaders-thumb-option li a,.ereaders-thumb-option li time {
    color: #ffffff;
    margin: 0px 0px 0px 5px;
}
.ereaders-rich-editor { margin: -8px 0px 17px;}
.ereaders-rich-editor p {
    margin: 0px 0px 25px;
    line-height: 26px;
    letter-spacing: 0.8px;
}
blockquote {
    text-align: center;
    font-style: italic;
    font-size: 24px;
    padding: 49px 45px 15px 50px;
    letter-spacing: 1.7px;
    border-left: none;
    position: relative;
    margin: 2px 0px 20px;
}
blockquote:before {
    content: "\e92d";
    font-family: icomoon;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 50px;
    line-height: 0.8;
    font-style: normal;
}
/*ereaders-post-tags*/
.ereaders-post-tags {
    float: left;
    width: 100%;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 30px 0px 20px;
    margin: 0px 0px 22px;
}
.ereaders-social-tag,.ereaders-blog-social {
    float: left;
    width: 50%;
}
.ereaders-blog-social { float: right;}
.ereaders-social-tag a {
    font-size: 12px;
    color: #7e7e7e;
    float: left;
    border: 1px solid #ececec;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 5px 15px 6px;
    letter-spacing: 0.7px;
    margin: 0px 15px 10px 0px;
}
.ereaders-social-tag a:hover { color: #ffffff;}
.ereaders-blog-social ul { float: right;}
.ereaders-blog-social ul li {
    float: left;
    list-style: none;
}
.ereaders-blog-social ul li {
    float: left;
    margin: 0px 0px 10px 10px;
    list-style: none;
}
.ereaders-blog-social ul li a {
    float: left;
    width: 30px;
    font-size: 13px;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    color: #ffffff;
    padding: 9px 0px 0px;
    background-color: #999999;
}
.ereaders-blog-social ul li a.fa-facebook { background-color: #3b5998;}
.ereaders-blog-social ul li a.fa-twitter { background-color: #55acee;}
.ereaders-blog-social ul li a.fa-pinterest-p { background-color: #cc2127;}
.ereaders-blog-social ul li a.fa-google-plus { background-color: #dc4a38;}
/*ereaders-prenxt-post*/
.ereaders-prenxt-post {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ececec;
    padding: 0px 0px 14px;
    margin: 0px 0px 60px;
}
.ereaders-prev-post,.ereaders-next-post {
    float: left;
    width: 50%;
    padding: 0px 0px 10px;
}
.ereaders-prev-post > a,.ereaders-next-post > a {
    display: inline-block;
    font-size: 12px;
    color: #7e7e7e;
    text-transform: uppercase;
    margin: 0px 0px 5px;
}
.ereaders-next-post { text-align: right;}
.ereaders-prenxt-post h2 {
    margin: 0px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*section-heading*/
.ereaders-section-heading {
    float: left;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    line-height: 0.8;
    margin: 0px 0px 30px;
    padding: 0px 0px 11px;
    position: relative;
}
.ereaders-section-heading:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 2px;
    width: 30px;
}
/*ereaders-admin-post*/
.ereaders-admin-post {
    float: left;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ececec;
    padding: 33px 20px 27px 30px;
    margin: 0px 0px 60px;
}
.ereaders-admin-post figure {
    float: left;
    margin: 0px;
    width: 120px;
    overflow: hidden;
    border-radius: 100%;
}
.ereaders-admin-post figure ~ .ereaders-admin-text {
    padding: 0px 0px 0px 139px;
    line-height: 1;
}
.ereaders-admin-social {
    float: right;
    margin: -10px 0px 0px;
}
.ereaders-admin-social li {
    float: left;
    list-style: none;
    margin: 0px 0px 0px 15px;
}
.ereaders-admin-social li:first-child { margin: 0px;}
.ereaders-admin-social li a {
    font-size: 12px;
    color: #7e7e7e;
}
.ereaders-admin-social li:hover a.fa-facebook { color: #3b5998;}
.ereaders-admin-social li:hover a.fa-twitter { color: #55acee;}
.ereaders-admin-social li:hover a.fa-pinterest-p { color: #cc2127;}
.ereaders-admin-social li:hover a.fa-google-plus { color: #dc4a38;}
.ereaders-admin-text h5 {
    display: inline-block;
    margin: 0px 0px 1px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}
.ereaders-admin-text span {
    display: block;
    font-size: 12px;
    margin: 0px 0px 16px;
}
.ereaders-admin-text p {
    margin: 0px;
    line-height: 26px;
}
/*ereaders-related-blog*/
.ereaders-related-blog figure,.ereaders-related-blog figure a,.ereaders-related-blog figure a img,
.ereaders-related-blog-text {
    float: left;
    width: 100%;
}
.ereaders-related-blog figure { margin: 0px 0px 25px;}
.ereaders-related-blog-text h5 {
    text-transform: uppercase;
    margin: 0px 0px 7px;
    line-height: 1.4;
    letter-spacing: 1.3px;
}
.ereaders-related-blog-text p {
    margin: 0px;
    line-height: 26px;
}
/*comment area*/
.comments-area,.comment-list,.comment-list li,.comment-list > ul > li,.comment-list .thumblist,
.comment-list li img,.thumb-list {
    float: left;
    width: 100%;
}
.comment-list .children {
    margin: 0px;
}
.comment-list > ul > li {
    margin: 0px 0px 0px 0px;
    list-style: none;
}
.comment-list .thumblist > ul                      {margin: 0px;}
.comment-list li                                   {list-style: none;}
.comment-list li figure {
    border-radius: 100%;
    float: left;
    width: 70px;
    margin: 0px;
    overflow: hidden;
}
.comment-list li figure ~ .text-holder { padding: 7px 0px 0px 91px;}
.comment-list > li .thumb-list {
    padding: 0px 0px 22px 0px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 30px;
}
.comment-list > li:last-child .thumb-list { border-bottom: none;}
.comment-list .children > li .thumb-list { padding: 0px 0px 7px 97px;}
.text-holder h6 {
    text-transform: uppercase;
    margin: 0px 0px 11px;
    letter-spacing: 0.9px;
    float: left;
}
.text-holder p {
    margin-bottom: 15px;
    display: inline-block;
    line-height: 26px;
}
.text-holder .post-date {
    float: left;
    font-size: 12px;
    line-height: 1;
    color: #aaaaaa;
    padding: 6px 0px 0px 32px;
    position: relative;
}
.text-holder .post-date:before {
    content: '';
    position: absolute;
    left: 15px;
    bottom: 3px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #aaaaaa;
}
.comment-reply-link {
    float: left;
    margin: 0px 22px 5px 0px;
    font-size: 14px;
    line-height: 1;
    position: relative;
    color: #7e7e7e;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
}
.comment-reply-link:before {
    content: '';
    position: absolute;
    right: -11px;
    bottom: 2px;
    width: 1px;
    height: 9px;
    background-color: #bbbbbb;
}
.comment-reply-link:last-child:before { content: none;}
.comment-reply-link i { font-size: 9px; margin: 0px 0px 0px 3px;}
.comment-list { margin: 0px 0px 0px;}
/* form*/
.comment-respond,.ereaders-full-form textarea {
    float: left;
    width: 100%;
}
.comments-area { margin-top: 20px;}
.comment-respond { margin: 0px 0px 10px;}
.comment-respond form { margin: 0px -12px;}
.comment-respond form p {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0 12px 0;
    width: 33.333%;
    position: relative;
}
.comment-respond form p i {
    color: #bbbbbb;
    font-size: 12px;
    right: 32px;
    top: 14px;
    position: absolute;
}
.comment-respond form p input[type="text"],
.comment-respond form p input[type="email"] {
    background-color: transparent;
    border-radius: 4px;
    color: #7e7e7e;
    font-size: 12px;
    float: left;
    height: 40px;
    margin: 0;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #ececec;
}
.comment-respond form > .ereaders-full-form i { top: 20px;}
.comment-respond form > .ereaders-full-form { width: 100%;}
.ereaders-full-form textarea {
    height: 200px;
    color: #2C2C2C;
    font-size: 12px;
    padding-left: 19px;
    padding-top: 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ececec;
}
.submit {
    float: left;
    padding: 10px 18px;
    border: none;
    font-size: 15px;
    color: #ffffff;
    line-height: 1;
    border-radius: 4px;
}
.submit:hover { background-color: #2e2e2e;}
/*Sidebar*/
.ereaders-main-content .widget { margin: 0px 0px 50px;}
.ereaders-main-content .widget ul li { list-style: none;}
.ereaders-main-content .widget,.widget_search form,.widget_search form input[type="text"] {
    float: left;
    width: 100%;
}
.widget_search form { position: relative;}
.widget_search form input[type="text"] {
    background-color: transparent;
    font-size: 12px;
    color: #7e7e7e;
    border-radius: 4px;
    border: 1px solid #ececec;
    padding-left: 19px;
    height: 40px;
}
.widget_search form label {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px;
}
.widget_search form label:before {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    right: 14px;
    bottom: 12px;
    font-size: 12px;
    color: #ffffff;
}
.widget_search form label input[type="submit"] {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    float: left;
}
/*widget_popular_post*/
.ereaders-widget-title {
    float: left;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    line-height: 0.8;
    margin: 0px 0px 30px;
    padding: 0px 0px 10px;
    position: relative;
}
.ereaders-widget-title:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 2px;
    width: 30px;
}
.widget_popular_post ul li {
    float: left;
    line-height: 1;
    margin: 0px 0px 20px;
    width: 100%;
}
.widget_popular_post ul li:last-child { margin: 0px;}
.widget_popular_post h6 {
    margin: 0px 0px 5px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.8px;
}
.widget_popular_post time { font-size: 12px;}
.widget_border {
    border: 1px solid #ececec;
    border-radius: 4px;
    padding: 30px 19px 29px;
}
/*widget_cetagories*/
.widget_cetagories ul li {
    float: left;
    width: 100%;
    margin: 0px 0px 20px;
}
.widget_cetagories ul li:last-child { margin: 0px;}
.widget_cetagories ul li a {
    display: block;
    color: #7e7e7e;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ececec;
    padding: 5px 14px 5px 35px;
    text-transform: uppercase;
    position: relative;
}
.widget_cetagories ul li:hover a,.widget_cetagories ul li:hover a:before { color: #ffffff;}
.widget_cetagories ul li a:before {
    content: "\f105";
    position: absolute;
    left: 15px;
    top: 5px;
    font-family: FontAwesome;
    font-size: 14px;
}
.widget_cetagories ul li a span { float: right;}
/*widget_recent_comments*/
.widget_recent_comments ul li {
    float: left;
    line-height: 1;
    margin: 0px 0px 20px;
    width: 100%;
}
.widget_recent_comments ul li:last-child { margin: 0px;}
.widget_recent_comments h6 {
    margin: 0px 0px 4px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.8px;
}
.widget_recent_comments span { font-size: 12px;}
/*widget_tags*/
.widget_tags a {
    float: left;
    font-size: 12px;
    color: #7e7e7e;
    border: 1px solid #ececec;
    padding: 5px 15px 6px;
    margin: 0px 15px 10px 0px;
    text-transform: uppercase;
    border-radius: 4px;
}
.widget_tags a:hover { color: #ffffff;}
.widget_tags.widget_border {
    padding-right: 0px;
    padding-bottom: 19px;
}
/*ereaders-blog-large*/
.ereaders-blog-large figure,.ereaders-blog-large figure a,.ereaders-blog-large figure a img,
.ereaders-blog-large-text,.ereaders-blog-heading {
    float: left;
    width: 100%;
}
.ereaders-blog-large figure { margin: 0px 0px 23px;}
.ereaders-thumb-option { margin: 0px;}
.ereaders-blog-heading { margin: 0px 0px 11px;}
.ereaders-blog-heading h2 {
    margin: 0px 0px 1px;
    line-height: 1;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.ereaders-blog-heading .ereaders-thumb-option li {
    color: #7e7e7e;
    font-size: 10px;
    margin: 0px 24px 0px 0px;
}
.ereaders-blog-heading .ereaders-thumb-option li time,
.ereaders-blog-heading .ereaders-thumb-option li a { color: #7e7e7e;}
.ereaders-blog-heading .ereaders-thumb-option li:before {
    background: rgba(126,126,126,0.8);
    height: 9px;
    width: 1px;
    right: -12px;
    top: 11px;
}
.ereaders-blog-large-text .ereaders-simple-btn {
    float: left;
    font-weight: 400;
    font-size: 15px;
    padding: 4px 19px 3px;
    letter-spacing: 0.7px;
}
.ereaders-blog-large ul li:hover .ereaders-simple-btn { background-color: #2e2e2e;}
.ereaders-blog-large-text p {
    margin: 0px 0px 19px;
    line-height: 26px;
}
/*Author Detail*/
.ereaders-about-education { margin: 0px 0px 52px;}
.ereaders-about-education,.ereaders-about-education ul li {
    float: left;
    width: 100%;
}
.ereaders-about-education ul li {
    list-style: none;
    padding: 0px 0px 39px 42px;
    position: relative;
}
.ereaders-about-education ul li:last-child { padding-bottom: 0px;}
.ereaders-about-education ul li:before {
    content: '';
    background: url(images/border.png);
    position: absolute;
    left: 11px;
    top: 4px;
    width: 2px;
    height: 100%;
}
.ereaders-about-education ul li:last-child:before { content: none;}
.ereaders-about-education ul li > span {
    position: absolute;
    left: 7px;
    top: 0px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.ereaders-about-education ul li > span:before {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    opacity: 0.20;
}
.ereaders-about-education ul li > span:after {
    content: '';
    position: absolute;
    left: -7px;
    top: -7px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    opacity: 0.10;
}
.ereaders-about-education h6 {
    margin: 0px 0px 22px;
    letter-spacing: 1px;
    line-height: 0.8;
}
.ereaders-about-education h6 span {
    font-size: 15px;
    color: #7e7e7e;
    font-weight: 400;
}
.ereaders-about-education p {
    margin: 0px;
    line-height: 26px;
}
/*auther-info*/
.widget_author_info.widget_border { padding: 40px 55px 35px;}
.widget-author-info-text {
    float: left;
    width: 100%;
}
.widget_author_info {
    text-align: center;
}
.widget_author_info figure {
    display: inline-block;
    margin: 0px;
    overflow: hidden;
    border-radius: 100%;
    width: 150px;
    box-shadow: 0 0 13px rgba(0,0,0,0.15);
}
.widget-author-info-text { padding: 19px 0px 0px;}
.widget-author-info-text h5 {
    text-transform: uppercase;
    margin: 0px 0px 2px;
    letter-spacing: 1.2px;
}
.widget-author-info-text > span {
    font-size: 14px;
    display: inline-block;
    margin: 0px 0px 17px;
}
.widget-author-info-text span small { font-size: 14px;}
.widget-author-info-text .ereaders-blog-social { float: none; display: inline-block; width: auto;}
.widget-author-info-text p {
    margin: 0px 0px 18px;
    line-height: 26px;
    letter-spacing: 0.6px;
}
.skillst > h6 {
    text-align: left;
    margin: 0px 0px 10px;
    font-size: 12px;
    font-weight: 400;
}
.skillst > h6 span {
    float: right;
    font-size: 12px;
}
.skillst {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}
.bar-container {
    width: 100%;
    float: left;
    position:relative;
    border-radius: 3px;
}
.bar-container .bar {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 3px;
}
.bar-container .bar small { display: none;}
.skillst .count{
    float: right;
    font-size: 12px;
    color:#272727;
    margin: -27px 0px 0px 0px;
}

/*Widget Contact*/
.widget_contact_form.widget_border {
    padding: 40px 30px;
}
.widget_contact_form ul li,.widget_contact_form input[type="text"],.widget_contact_form textarea,
.widget_contact_form input[type="email"] {
    float: left;
    width: 100%;
}
.widget_contact_form ul li {
    margin: 0px 0px 20px;
    position: relative;
}
.widget_contact_form ul li:last-child { margin: 0px;}
.widget_contact_form label {
    margin: 0px 0px 9px;
    color: #2e2e2e;
    font-size: 14px;
    float: left;
    line-height: 0.8;
}
.widget_contact_form i {
    color: #bbbbbb;
    font-size: 12px;
    right: 16px;
    top: 34px;
    position: absolute;
}
.widget_contact_form input[type="text"],
.widget_contact_form input[type="email"] {
    background-color: transparent;
    border-radius: 4px;
    color: #999999;
    font-size: 12px;
    float: left;
    height: 40px;
    margin: 0;
    padding-left: 15px;
    width: 100%;
    border: 1px solid #ececec;
}
.widget_contact_form textarea {
    height: 120px;
    color: #4d4d4d;
    font-size: 12px;
    padding-left: 19px;
    padding-top: 9px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ececec;
}
/*Book Grid*/
.ereaders-books,.ereaders-book-grid figure,.ereaders-book-grid figure > a,.ereaders-book-grid figure a img,
.ereaders-book-grid-text,.ereaders-book-grid-text small {
    float: left;
    width: 100%;
}
.ereaders-books > ul > li {
    list-style: none;
    margin: 0px 0px 30px;
}
.ereaders-book-grid figure {
    margin: 0px 0px 23px;
    overflow: hidden;
}
.ereaders-book-grid figure > a { position: relative;}
.ereaders-book-grid ul li:hover figure a img {
    opacity: 0.20;
    -webkit-filter: blur(3.0px);
    filter: blur(3.0px);
}
.ereaders-book-grid figure > a:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    opacity: 0;
    z-index: 1;
}
.ereaders-book-grid ul li:hover figure > a:before { opacity: 0.1;}
.ereaders-book-grid figure figcaption {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    z-index: 2;
    text-align: center;
    margin: -22px 0px 0px;
}
.ereaders-book-grid figure figcaption a {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid;
    width: 45px;
    height: 45px;
    padding: 10px 0px 0px;
    font-size: 25px;
    margin: 0px 8px;
    opacity: 0;
}
.ereaders-book-grid ul li:hover figure figcaption a { opacity: 1;}
.ereaders-book-grid figure figcaption a:hover { color: #fff;}
.ereaders-book-grid-text { line-height: 1;}
.ereaders-book-grid-text h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0px 0px 2px;
    float: left;
    letter-spacing: 0.9px;
}
.ereaders-book-grid-text span {
    font-size: 16px;
    color: #000;
    float: right;
    font-weight: bold;
    margin: 2px 0px 0px;
}
.ereaders-book-grid-text small {
    font-size: 12px;
    margin: 0px 0px 16px;
    letter-spacing: 0.7px;
}
.ereaders-books .ereaders-simple-btn { float: left;}
.ereaders-book-grid-text .ereaders-simple-btn {
    padding: 7px 20px 9px;
    font-weight: 500;
}
.ereaders-books ul li:hover .ereaders-simple-btn { background-color: #2e2e2e;}
/*Book Detail*/
.ereaders-book-breadcrumb {
    background-color: #f7f7f7;
    padding: 20px 0px 52px;
}
.ereaders-book-breadcrumb ul li { float: left;}
.ereaders-book-breadcrumb ul li:first-child { padding-left: 0px;}
.ereaders-book-breadcrumb ul li:last-child { padding-right: 0px;}
.ereaders-book-breadcrumb ul li a,.ereaders-book-breadcrumb.ereaders-breadcrumb ul li:before { color: #2e2e2e;}
/*section*/
.ereaders-book-wrap,.ereaders-book-thumb,.ereaders-detail-thumb-text,.ereaders-detail-option,
.ereaders-number-select,.ereaders-detail-social {
    float: left;
    width: 100%;
}
.ereaders-book-wrap {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
    padding: 100px 30px 100px 50px;
    margin: -30px 0px 59px;
}
.ereaders-book-thumb {
    border: 1px solid #ececec;
    border-radius: 4px;
}
.star-rating {
    width: 10%;
    height: 24px;
    line-height: 24px;
    float: left;
    position: relative;
    margin: 0px 12px 8px 0px;
}
.star-rating:before,.star-rating-box:before {
    content: "\f006 \f006 \f006 \f006 \f006";
    font-family: FontAwesome;
    font-size: 13px;
    left: 0px;
    letter-spacing: 0px;
    position: absolute;
    top: 0px;
    color: #c2c2c2;
}
.star-rating-box:before                                                 { content: "\f005 \f005 \f005 \f005 \f005";}
.star-rating > .star-rating-box {
    height: 20px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
}
.ereaders-detail-thumb-text small {
    font-size: 12px;
    color: #c2c2c2;
}
.ereaders-detail-thumb-text { padding: 16px 0px 0px;}
.ereaders-detail-thumb-text h2 {
    margin: 0px 0px 7px;
    font-size: 18px;
    text-transform: uppercase;
}
.ereaders-detail-thumb-text > span {
    float: left;
    margin: 0px 0px 17px;
    font-size: 18px;
    font-weight: bold;
    color: #1b1b1b;
}
.ereaders-detail-thumb-text span del {
    float: right;
    margin: 0px 0px 0px 30px;
    font-weight: 400;
    color: #8b8b8b;
}
.ereaders-detail-thumb-text p {
    float: left;
    line-height: 26px;
    letter-spacing: 0.6px;
    margin: 0px 0px 20px;
}
.ereaders-detail-option { margin: 0px 0px 18px;}
.ereaders-detail-option li {
    float: left;
    width: 33.333%;
    list-style: none;
    margin: 0px 0px 10px;
    border-right: 1px solid #ececec;
    padding-left: 24px;
    line-height: 1;
}
.ereaders-detail-option li:first-child { padding-left: 0px;}
.ereaders-detail-option li:last-child { border-right: none;}
.ereaders-detail-option li h6 {
    margin: 0px 0px 4px;
    font-size: 14px;
}
.ereaders-detail-option li a,.ereaders-detail-option li > span {
    color: #7e7e7e;
    font-size: 12px;
    letter-spacing: 0.7px;
}
.ereaders-number-select { margin: 0px 0px 30px;}
.ereaders-number-select label {
    float: left;
    font-weight: 500;
    margin: 6px 20px 0px 0px;
    color: #262626;
}
.ereaders-number-select input[type="number"] {
    float: left;
    margin: 0px 30px 0px 0px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    color: #7e7e7e;
    height: 35px;
    width: 80px;
    background-color: transparent;
    text-align: center;
}
.ereaders-detail-btn {
    float: left;
    border: 1px solid;
    border-radius: 3px;
    padding: 6px 20px;
    margin: 0px 20px 10px 0px;
}
.ereaders-detail-btn:hover { color: #ffffff;}
.ereaders-detail-btn i {
    float: right;
    margin: 3px 0px 0px 14px;
}
.ereaders-detail-social { margin: 30px 0px 0px;}
.ereaders-detail-social li {
    float: left;
    list-style: none;
    margin: 0px 10px 10px 0px;
}
.ereaders-detail-social li h6 {
    margin: 2px 10px 0px 0px;
    font-size: 14px;
}
.ereaders-detail-social li a {
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 7px 0px 0px;
    border-radius: 3px;
}
.ereaders-detail-social li a.fa-facebook { background-color: #3b5998;}
.ereaders-detail-social li a.fa-twitter { background-color: #55acee;}
.ereaders-detail-social li a.fa-pinterest-p { background-color: #cc2127;}
.ereaders-detail-social li a.fa-google-plus { background-color: #dc4a38;}
/*ereaders-book-detail*/
.ereaders-book-detail,.ereaders-book-detail ul {
    float: left;
    width: 100%;
}
.ereaders-book-detail { margin: 0px 0px 40px;}
.ereaders-book-detail p {
    margin: 0px 0px 22px;
    line-height: 26px;
}
.ereaders-book-detail ul {
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
    padding: 12px 0px;
    background-color: #ffffff;
    border-radius: 5px;
}
.ereaders-book-detail ul li {
    float: left;
    line-height: 1;
    width: 33.333%;
    padding: 13px 0px 22px 30px;
    list-style: none;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.ereaders-book-detail ul li:nth-child(3n) { border-right: none;}
.ereaders-book-detail ul li:last-child,
.ereaders-book-detail ul li:nth-child(4n),
.ereaders-book-detail ul li:nth-child(5n) { border-bottom: none;}
.ereaders-book-detail ul li h6 {
    margin: 0px 0px 1px;
    font-size: 15px;
    text-transform: uppercase;
}
.ereaders-book-detail ul li p {
    margin: 0px;
    font-size: 13px;
}
.ereaders-book-reply .text-holder h6 {
    margin: 0px;
}
.ereaders-book-reply .star-rating:before,.ereaders-book-reply .star-rating-box:before { font-size: 10px;}
.ereaders-book-reply .star-rating {
    line-height: 14px;
    height: 18px;
    margin: -2px 0px 6px;
}
.ereaders-book-reply .comment-list > li .thumb-list { padding: 0px 0px 8px 0px;}
.ereaders-book-reply .comment-list .children > li .thumb-list { padding: 0px 0px 7px 97px;}
.ereaders-book-reply .comment-list { margin: 0px 0px 14px;}
.ereaders-book-reply .comment-respond { margin: 0px 0px 30px;}
.ereaders-book-related { margin: 0px 0px 10px;}
/*Event Detail*/
.ereaders-event-subheader {
    float: left;
    width: 100%;
}
.ereaders-event-subheader {
    background-image: url("extra-images/event-thumb.jpg");
    background-position: center;
    position: relative;
    text-align: center;
    padding: 109px 0px 176px;
}
.ereaders-event-subheader .ereaders-thumb-text h1 {
    width: 69%;
    display: inline-block;
    margin: 0px 0px 6px;
}
.ereaders-event-subheader .ereaders-thumb-option li { font-size: 12px;}
.ereaders-event-subheader .ereaders-thumb-option li:before {
    height: 11px;
    top: 10px;
}
/*Conutdown*/
.ereaders-countdown-wrap {
    width: 83.33333333%;
    margin: -92px auto 0px;
}
.ereaders-countdown {
    float: left;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.10);
    background-color: #ffffff;
    margin: 0px 0px 60px;
    padding: 35px 0px 39px;
    border-radius: 4px;
}
.countdown-row,.ereaders-event-map {
    float: left;
    width: 100%;
}
.ereaders-countdown .countdown-section {
    float: left;
    width: 25%;
    color: #2e2e2e;
    line-height: 1;
    letter-spacing: 0.7px;
    position: relative;
}
.ereaders-countdown .countdown-section:before {
    content: '';
    position: absolute;
    right: 0px;
    top: -10px;
    height: 100px;
    width: 1px;
    background-color: #ececec;
}
.ereaders-countdown .countdown-section:last-child:before { content: none;}
.ereaders-countdown .countdown-amount {
    font-size: 50px;
    margin: 0px 0px 5px;
    display: block;
    letter-spacing: 3px;
}
.ereaders-countdown .countdown-period {
    font-size: 20px;
    display: block;
    text-transform: uppercase;
}
.ereaders-post-tags > .ereaders-simple-btn {
    float: left;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    padding: 11px 22px;
    letter-spacing: 0.7px;
    margin: -5px 0px 0px;
}
.ereaders-event-map { margin: 0px 0px 60px;}
.ereaders-event-map #map {
    width: 100%;
    height: 300px;
}
/*event gallery*/
.ereaders-gallery,.ereaders-event-gallery figure,.ereaders-event-gallery figure a,.ereaders-event-gallery figure a img {
    float: left;
    width: 100%;
}
.ereaders-event-gallery { margin: 0px 0px 20px;}
.ereaders-gallery > ul > li {
    margin: 0px 0px 20px;
    padding: 0px 10px;
    list-style: none;
}
.ereaders-event-gallery figure { margin: 0px;}
.ereaders-event-gallery figure a { position: relative;}
.ereaders-event-gallery figure a:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.ereaders-event-gallery ul li:hover figure a:before { opacity: 0.8;}
.ereaders-event-gallery figure a i {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #ffffff;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 9px 0px 0px;
    margin: -20px 0px 0px -20px;
}
/*widget_calendar*/
.widget_calendar {
    float: left;
    width: 100%;
}
.widget_calendar table { margin: 0px;}
.widget_calendar caption {
    color: #fff;
    border-radius: 30px;
    padding: 7px 15px 6px;
    text-align: center;
    font-size: 12px;
    margin: 0px 0px 10px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}
.widget_calendar thead > tr > th {
    border: none;
    color: #fff;
    font-weight: 400;
    line-height: 2.3;
    font-size: 12px;
}
.widget_calendar tbody > tr > td {
    padding: 0px;
    font-size: 12px;
    color: #7e7e7e;
    line-height: 2.1;
    border: none;
}
.widget_calendar tbody > tr > td.active {
    color: #ffffff;
    border-radius: 4px;
}
/*Event List*/
.ereaders-event,.ereaders-event-list figure > a,.ereaders-event-list figure a img {
    float: left;
    width: 100%;
}
.ereaders-event > ul > li {
    list-style: none;
    margin: 0px 0px 30px;
}
.ereaders-event-list figure {
    float: left;
    width: 267px;
    margin: 0px
}
.ereaders-event-list figure > a {
    position: relative;
    overflow: hidden;
}
.ereaders-event-list ul li:hover figure a img {
    -webkit-filter: blur(3.0px);
    filter: blur(3.0px);
    opacity: 0.4;
}
.ereaders-event-list figure > a:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: 1;
}
.ereaders-event-list ul li:hover figure > a:before { opacity: 0.40;}
.ereaders-event-list figure figcaption {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    margin: -23px 0px 0px;
    z-index: 2;
    text-align: center;
}
.ereaders-event-list figure figcaption a {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid;
    width: 45px;
    height: 45px;
    padding: 10px 0px 0px;
    font-size: 25px;
    margin: 0px 9px;
    opacity: 0;
}
.ereaders-event-list ul li:hover figure figcaption a { opacity: 1;}
.ereaders-event-list figure figcaption a:hover { color: #fff;}
.ereaders-event-list figure ~ .ereaders-event-list-text {
    margin: 0px 0px 0px 267px;
    padding: 20px 0px 29px 24px;
    border-left: none;
}
.ereaders-event-list-text {
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #ececec;
}
.ereaders-event-list-text span {
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px 1px;
}
.ereaders-event-list-text span i { margin: 0px 9px 0px 0px;}
.ereaders-event-list-text h2 {
    text-transform: uppercase;
    margin: 0px 0px 3px;
    letter-spacing: 1.1px;
    font-size: 16px;
}
.ereaders-event-list-text .ereaders-thumb-option li,
.ereaders-event-list-text .ereaders-thumb-option li time {
    color: #7e7e7e;
    font-size: 12px;
    text-transform: none;
}
.ereaders-event-list-text .ereaders-thumb-option li:before {
    background-color: #7e7e7e;
    height: 9px;
    top: 11px;
}
.ereaders-event-list-text p {
    margin: 0px 0px 19px;
    line-height: 26px;
}
.ereaders-event .ereaders-simple-btn {
    display: inline-block;
    float: none;
    padding: 3px 20px 4px;
    font-weight: 400;
}
.ereaders-event .ereaders-simple-btn i {
    float: right;
    margin: 9px 0px 0px 14px;
    font-size: 13px;
}
.ereaders-event ul li:hover .ereaders-simple-btn { background-color: #2e2e2e;}
/*Shop Detail*/
.ereaders-shop-thumb span {
    float: left;
    width: 100%;
}
.ereaders-shop-thumb-list { padding: 16px 0px 0px;}
.ereaders-shop-detail {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
    padding: 100px 30px 100px 30px;
    margin: -30px 0px 84px;
}
.ereaders-shop-detail .star-rating { width: 12%;}
.ereaders-shop-thumb {
    float: right;
    width: 408px;
}
.ereaders-shop-thumb span img {
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 4px;
}
.ereaders-shop-thumb span { position: relative;}
.ereaders-shop-thumb span small {
    position: absolute;
    left: 21px;
    top: 21px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 1px 13px 2px 18px;
    border-radius: 3px 0px 0px 3px;
}
.ereaders-shop-thumb span small:before {
    content: '';
    border-top: 10px solid transparent;
    border-left: 11px solid;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -10px;
    top: 0px;
}
.ereaders-shop-thumb-list span img {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ececec;
    margin: 0px 0px 20px;
    cursor: pointer;
}
.ereaders-shop-detail .ereaders-detail-option li { padding-left: 20px;}
/* Shop Tabs */
.ereaders-shop-tabs {
    float: left;
    width: 100%;
    margin: 0px 0px 10px;
}
.ereaders-shop-tabs .nav-tabs {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ececec;
    border-radius: 0px;
}
.ereaders-shop-tabs .nav-tabs li {
    list-style: none;
    line-height: 1;
    margin: 0 0px 0 0;
    text-align: center;
    position: relative;
}
.ereaders-shop-tabs .nav-tabs > li.active > a,
.ereaders-shop-tabs .nav-tabs > li.active > a:hover,
.ereaders-shop-tabs .nav-tabs > li.active > a:focus {
    border: none;
    font-weight: 600;
}
.ereaders-shop-tabs .nav-tabs li a:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 0%;
    bottom: -1px;
    height: 2px;
}
.ereaders-shop-tabs .nav-tabs > li.active > a:before {
    width: 100%;
    left: 0px;
}
.ereaders-shop-tabs .nav-tabs li a {
    float: left;
    padding: 12px 0px 14px;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    border: none;
    border-radius: 0px;
    letter-spacing: 0.9px;
    margin: 0px 46px 0px 0px;
    color: #2e2e2e;
    font-weight: 500;
}
.ereaders-shop-tabs .tab-content {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}
.ereaders-shop-tabs .tab-content .comment-respond { margin: 0px 0px 14px;}
.ereaders-shop-description p {
    margin: 0;
    line-height: 24px;
}
.ereaders-shop-description {
    float: left;
    width: 100%;
    margin: 0px 0px 50px;
}
/*Shop Grid*/
.ereaders-shop,.ereaders-shop-grid figure,.ereaders-shop-grid figure > a,.ereaders-shop-grid figure a img,
.ereaders-shop-grid-text {
    float: left;
    width: 100%;
}
.ereaders-shop > ul > li {
    list-style: none;
    margin: 0px 0px 30px;
}
.ereaders-shop-grid figure {
    margin: 0px 0px 20px;
    overflow: hidden;
}
.ereaders-shop-grid figure span {
    position: absolute;
    left: 21px;
    top: 21px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 13px 5px 18px;
    border-radius: 3px 0px 0px 3px;
    line-height: 1;
    z-index: 1;
}
.ereaders-shop-grid figure span:before {
    content: '';
    border-top: 10px solid transparent;
    border-left: 11px solid;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -10px;
    top: 0px;
}
.ereaders-shop-grid figure > a { position: relative;}
.ereaders-shop-grid ul li:hover figure a img {
    opacity: 0.20;
    -webkit-filter: blur(3.0px);
    filter: blur(3.0px);
}
.ereaders-shop-grid figure > a:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    opacity: 0;
    z-index: 1;
}
.ereaders-shop-grid ul li:hover figure > a:before { opacity: 0.1;}
.ereaders-shop-grid figure figcaption {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    text-align: center;
    margin: -22px 0px 0px;
    z-index: 2;
}
.ereaders-shop-grid figure figcaption a {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid;
    width: 45px;
    height: 45px;
    padding: 10px 0px 0px;
    font-size: 25px;
    margin: 0px 8px 0px;
    opacity: 0;
    z-index: 2;
}
.ereaders-shop-grid ul li:hover figure figcaption a { opacity: 1;}
.ereaders-shop-grid figure figcaption a:hover { color: #fff;}
.ereaders-shop-grid-text h2 {
    margin: 0px 0px 5px;
    font-size: 14px;
}
.ereaders-shop-grid-text > span {
    float: left;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}
.ereaders-shop-grid-text > span del{
    font-weight: 400;
    color: #8b8b8b;
    margin: 0px 0px 0px 19px;
}
.ereaders-shop-grid-text .star-rating {
    float: right;
    width: 23%;
    margin: 2px 0px 0px;
}
/*Shop Filter*/
.ereaders-shop-filter {
    float: left;
    width: 100%;
    margin: 0px 0px 50px;
    padding: 9px 20px 9px 30px;
    border: 1px solid #ececec;
}
.ereaders-shop-filter > span {
    font-size: 14px;
    float: left;
    color: #2e2e2e;
    margin: 4px 0px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.ereaders-shop-filter .nav-tabs {
    float: right;
    border: none;
    border-radius: 30px;
    margin: 5px 0px 0px;
}
.ereaders-shop-filter .nav-tabs li {
    list-style: none;
    line-height: 1;
    margin: 0 0px 0 21px;
    position: relative;
}
.ereaders-shop-filter .nav-tabs > li.active > a,
.ereaders-shop-filter .nav-tabs > li.active > a:hover,
.ereaders-shop-filter .nav-tabs > li.active > a:focus {
    border: none;
    background-color: transparent;
}
.ereaders-shop-filter .nav-tabs > li.active > a > span { color: #7e7e7e;}
.ereaders-shop-filter .nav-tabs li a {
    float: left;
    padding: 0px;
    font-size: 14px;
    position: relative;
    border: none;
    margin: 0px;
    color: #7e7e7e;
    background-color: transparent;
}
.ereaders-shop-filter .nav-tabs li a i {
    display: inline-block;
    margin: 0px 6px 0px 0px;
}
.ereaders-search-select {
    position: relative;
    float: left;
    margin: 0px 0px 0px 19px;
}
.ereaders-search-select select {
    font-size: 12px;
    width: 140px;
    background-color: #ffffff;
    height: 30px;
    padding: 0 0 0 15px;
    color: #999999;
    border: 1px solid #ececec;
}
.ereaders-search-select:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 12px;
    color: #999999;
    right: 1px;
    bottom: 1px;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    width: 20px;
    padding: 5px 2px 0 0;
    height: 28px;
}
/*slider-range*/
.ereaders-shop-filter form {
    float: right;
}
.ereaders-shop-filter form label {
    float: left;
    margin: 0px 17px 0px 0px;
    color: #1b1b1b;
    font-size: 14px;
}
#slider-range {
    float: left;
    width: 100%;
    height: 6px;
    background-color: #d8d8d8;
    position: relative;
    margin: 13px 8px 0px 0px;
    border-radius: 10px;
}
.ui-slider .ui-slider-range {
    position: absolute;
    height: 6px;
    top: 0px;
}
#slider-range span {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    margin: 0px 0px 0px -1px;
    border: 2px solid;
    border-radius: 100%;
    background-color: #ffffff;
}
#slider-range span:last-child { margin: 0px 0px 0px -5px;}
#amount { letter-spacing: 1px;}
.ereaders-shop-filter form input[type="text"] {
    float: left;
    width: 92px;
    font-size: 14px;
    background-color: transparent;
    color: #262626;
}
/*widget_sort_price*/
.widget_sort_price label {
    float: left;
    margin: 7px 4px 0px 0px;
    font-size: 12px;
}
.widget_sort_price input[type="text"] {
    float: left;
    background-color: transparent;
    color: #2e2e2e;
    padding: 0px;
}
/*widget_popular_product*/
.widget_popular_product ul li {
    float: left;
    width: 100%;
    margin: 0px 0px 29px;
}
.widget_popular_product ul li:last-child { margin: 0px;}
.widget_popular_product figure {
    float: left;
    width: 50px;
    margin: 1px 0px 0px;
}
.widget_popular_product figure ~ .widget-popular-product-text {
    line-height: 1;
    padding: 0px 0px 0px 65px;
}
.widget-popular-product-text h6 {
    margin: 0px 0px 5px;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
}
.widget-popular-product-text span {
    display: block;
    font-size: 12px;
    margin: 0px 0px 7px;
}
.widget-popular-product-text .star-rating {
    margin: 0px;
    width: 32%;
    height: 12px;
    line-height: 13px;
}
.widget-popular-product-text .star-rating:before,
.widget-popular-product-text .star-rating-box:before { font-size: 10px;}
/*Shop List*/
.ereaders-shop-list figure > a,.ereaders-shop-list figure a img,.ereaders-shop-list-text > span {
    float: left;
    width: 100%;
}
.ereaders-shop-list figure {
    margin: 0px;
    float: left;
    width: 267px;
    overflow: hidden;
}
.ereaders-shop-list figure span {
    position: absolute;
    left: 21px;
    top: 21px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 13px 5px 18px;
    border-radius: 3px 0px 0px 3px;
    line-height: 1;
    z-index: 1;
}
.ereaders-shop-list figure span:before {
    content: '';
    border-top: 10px solid transparent;
    border-left: 11px solid;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -10px;
    top: 0px;
}
.ereaders-shop-list figure > a { position: relative;}
.ereaders-shop-list ul li:hover figure a img {
    opacity: 0.20;
    -webkit-filter: blur(3.0px);
    filter: blur(3.0px);
}
.ereaders-shop-list figure > a:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    opacity: 0;
    z-index: 1;
}
.ereaders-shop-list ul li:hover figure > a:before { opacity: 0.1;}
.ereaders-shop-list figure figcaption {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 50%;
    text-align: center;
    margin: -22px 0px 0px;
    z-index: 2;
}
.ereaders-shop-list figure figcaption a {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid;
    width: 45px;
    height: 45px;
    padding: 10px 0px 0px;
    font-size: 25px;
    margin: 0px 8px 0px;
    opacity: 0;
}
.ereaders-shop-list ul li:hover figure figcaption a { opacity: 1;}
.ereaders-shop-list figure figcaption a:hover { color: #fff;}
.ereaders-shop-list figure ~ .ereaders-shop-list-text {
    margin: 0px 0px 0px 267px;
    padding: 5px 0px 0px 24px;
}
.ereaders-shop-list .ereaders-simple-btn {
    display: inline-block;
    float: none;
    padding: 3px 20px 4px;
    font-weight: 400;
    font-size: 15px;
}
.ereaders-shop-list .ereaders-simple-btn i {
    float: right;
    margin: 6px 0px 0px 14px;
    font-size: 15px;
}
.ereaders-shop-list ul li:hover .ereaders-simple-btn { background-color: #2e2e2e;}
.ereaders-shop-list-text h2 {
    margin: 0px 0px 3px;
    font-size: 16px;
    text-transform: uppercase;
}
.ereaders-shop-list-text .star-rating {
    width: 11%;
    margin-bottom: 7px;
}
.ereaders-shop-list-text > span {
    font-size: 13px;
    color: #1b1b1b;
    line-height: 1;
    font-weight: bold;
    margin: 0px 0px 21px;
}
.ereaders-shop-list-text > span del {
    margin: 0px 0px 0px 19px;
    font-weight: 400;
    color: #8b8b8b;
}
.ereaders-shop-list-text p {
    display: inline-block;
    line-height: 26px;
    margin: 0px 0px 19px;
}
/*About Us*/
.ereaders-about-us,.ereaders-about-thumb {
    float: left;
    width: 100%;
    margin: 0px 0px 80px;
}
.ereaders-about-us { padding: 27px 0px 0px;}
.ereaders-about-us h2 {
    margin: 0px 0px 12px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
.ereaders-about-us > span {
    display: inline-block;
    margin: 0px 0px 14px;
    font-style: italic;
    font-size: 18px;
    color: #2e2e2e;
    letter-spacing: 1.4px;
    line-height: 30px;
}
.ereaders-about-us p {
    margin: 0px 0px 15px;
    line-height: 26px;
}
.ereaders-about-us .ereaders-simple-btn {
    float: left;
    font-weight: 400;
    padding: 9px 29px 10px;
    margin: 18px 0px 0px;
}
.ereaders-about-us .ereaders-simple-btn i {
    float: right;
    margin: 3px 0px 0px 15px;
}
.ereaders-about-thumb {
    height: 420px;
    margin: 0px 0px 0px;
}
.ereaders-about-thumb img {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 2px solid;
}
.ereaders-about-thumb img.two { top: auto; bottom: 0px;}
.ereaders-about-thumb img.three {
    left: auto;
    top: 98px;
    right: 12px;
    z-index: 1;
}
.ereaders-about-thumb img.four {
    left: 60px;
    top: 50%;
    z-index: 1;
    margin: -69px 0px 0px;
}
/*ereaders-about-counter*/
.ereaders-about-counter {
    box-shadow: 0 0 10px rgba(0,0,0,0.10);
    padding: 35px 0px 34px;
}
.ereaders-about-counter.ereaders-counter ul li .numscroller { font-weight: 500;}
/*Price Plan*/
.ereaders-priceplan,.ereaders-priceplan-wrap,.ereaders-priceplan-heading,
.ereaders-priceplan-list,.ereaders-priceplan-list ul,.ereaders-priceplan-list ul li {
    float: left;
    width: 100%;
}
.ereaders-priceplan > ul { margin: 0px -12px;}
.ereaders-priceplan > ul > li {
    float: left;
    width: 33.3333%;
    margin: 0px 0px 30px;
    padding: 0px 12px;
    list-style: none;
}
.ereaders-priceplan-wrap {
    background-color: #ffffff;
    margin: 20px 0px 0px;
    border-radius: 7px;
    padding: 0px 60px 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.10)
}
.ereaders-priceplan-wrap h5 {
    display: inline-block;
    color: #ffffff;
    padding: 7px 0px;
    width: 218px;
    border-radius: 4px;
    text-transform: uppercase;
    margin: -10px 0px 0px;
    letter-spacing: 1.2px;
}
.ereaders-priceplan-heading {
    padding: 17px 0px 23px;
    border-bottom: 2px dotted #878787;
    margin: 0px 0px 27px;
}
.ereaders-priceplan-heading h2 {
    font-size: 80px;
    margin: 0px;
    color: #7e7e7e;
    display: inline-block;
    line-height: 1;
}
.ereaders-priceplan-heading h2 > small {
    font-size: 25px;
    float: left;
    margin: 13px 0px 0px;
}
.ereaders-priceplan-heading h2 span {
    font-size: 45px;
    float: right;
    line-height: 16px;
    letter-spacing: 3px;
    margin: 23px 0 0;
}
.ereaders-priceplan-heading h2 span > small {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.ereaders-priceplan-list ul { margin: 0px 0px 16px;}
.ereaders-priceplan-list ul li {
    list-style: none;
    margin: 0px 0px 13px;
    font-size: 16px;
    letter-spacing: 0.7px;
}
.ereaders-priceplan .ereaders-simple-btn {
    font-weight: 400;
    font-size: 15px;
    float: none;
    display: inline-block;
    padding: 6px 29px 6px;
}
.ereaders-priceplan ul li:hover .ereaders-simple-btn { background-color: #2e2e2e;}
.ereaders-priceplan > ul > li.active .ereaders-priceplan-heading {
    padding: 38px 0px 19px;
    margin: 0px 0px 31px;
}
.ereaders-priceplan > ul > li.active .ereaders-priceplan-wrap {
    padding: 0px 60px 60px;
    margin: 0px 0px 0px;
}
.ereaders-priceplan > ul > li.active .ereaders-simple-btn { background-color: #ffffff;}
.ereaders-priceplan > ul > li.active .ereaders-priceplan-list ul li { color: #fff;}
.ereaders-priceplan > ul > li.active .ereaders-priceplan-wrap h5 { background-color: #ffffff;}
.ereaders-priceplan > ul > li.active .ereaders-priceplan-heading h2 { color: #ffffff;}
.ereaders-priceplan > ul > li.active .ereaders-priceplan-heading { border-bottom: 2px dotted #fff;}
.ereaders-priceplan > ul > li.active .ereaders-priceplan-heading h2 > small { color: #ffffff;}
.ereaders-priceplan > ul > li.active .ereaders-priceplan-heading h2 > span > small { color: #ffffff;}
.ereaders-faq-accordion {
    float: left;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.ereaders-faq-accordion .panel {
    border-radius: 0px;
    border: none;
    position: relative;
}
.ereaders-faq-accordion.panel-group { margin: 0px;}
.ereaders-faq-accordion.panel-group .panel + .panel { margin-top: 0px; }
.ereaders-faq-accordion .panel-default > .panel-heading {
    background-color: transparent;
    position: relative;
}
.ereaders-faq-accordion.panel-group .panel-body p {
    margin: 0 0 15px;
    line-height: 26px;
}
.ereaders-faq-accordion .panel-title > a {
    font-size: 15px;
    display: block;
    padding: 45px 50px 43px 50px;
    text-transform: uppercase;
    position: relative;
    box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ececec;
}
.ereaders-faq-accordion .panel-title > .collapsed { box-shadow: none;}
.ereaders-faq-accordion .panel-default .collapsed { color: #000; }
.ereaders-faq-accordion .panel-body {
    margin: 0px;
    padding: 45px 25px 28px 50px;
    letter-spacing: 0px;
}
.ereaders-faq-accordion.panel-group .panel-heading + .panel-collapse > .panel-body { border-top: none; }
.ereaders-faq-accordion .panel-heading { padding: 0px 0px 0px 0px; }
.ereaders-faq-accordion .panel-title > a:before,
.ereaders-faq-accordion .panel-title > .collapsed:before {
    content: "\f107";
    position: absolute;
    right: 50px;
    top: 46px;
    font-family: 'FontAwesome';
}
.ereaders-faq-accordion .panel-title > .collapsed:before { content: "\f106"; }
/*tabs*/
.ereaders-faq-tabs,.ereaders-faq-tabs .nav-tabs,.ereaders-faq-tabs .nav-tabs > li {
    float: left;
    width: 100%;
}
.ereaders-faq-tabs {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 30px 30px;
}
.ereaders-faq-tabs .nav-tabs {
    border-bottom: none;
}
.ereaders-faq-tabs .nav-tabs > li {
    margin-bottom: 20px;
    border-radius: 5px;
}
.ereaders-faq-tabs .nav-tabs > li.active > a,
.ereaders-faq-tabs .nav-tabs > li.active > a:hover,
.ereaders-faq-tabs .nav-tabs > li.active > a:focus {
    color: #ffffff;
    border: none;
    border: 1px solid;
}
.ereaders-faq-tabs .nav-tabs > li > a {
    border-radius: 5px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0 10px 35px;
    border: 1px solid #eeeeee;
}
.ereaders-faq-tabs .nav-tabs > li > a:before {
    content: "\f105";
    position: absolute;
    left: 16px;
    top: 9px;
    font-size: 14px;
    font-family: 'FontAwesome';
}
/*contact us*/
.ereaders-contact-wrap,.ereaders-contact-info,.ereaders-contact-info ul,.ereaders-contact-info-wrap,.ereaders-contact-form ul li label,
.ereaders-contact-form ul li.full-form,.full-form textarea,.ereaders-contact-form ul li input[type="text"],.ereaders-contact-form ul li input[type="email"],
.eraders-search-wrap form,.eraders-search-wrap form input[type="text"],.eraders-serch-full  {
    float: left;
    width: 100%;
}
.ereaders-contact-wrap {
    box-shadow: 0 2px 15px rgba(0,0,0,0.10);
    margin: 0px 0px 20px;
}
.ereaders-contact-info { margin-bottom: 21px; }
.ereaders-contact-info ul li {
    display: inline-block;
    width: 33.333%;
    list-style: none;
    position: relative;
    margin: 0px -4px 30px 0px;
    vertical-align: top;
}
.ereaders-contact-info ul li:before {
    content: '';
    background: url(images/border-line.png);
    position: absolute;
    right: -148px;
    top: 51px;
    width: 288px;
    height: 3px;
    z-index: -1;
}
.ereaders-contact-info ul li:last-child:before { content: none; }
.ereaders-contact-info ul li:nth-child(3n):before { content: none;}
.ereaders-contact-info-wrap {
    text-align: center;
    position: relative;
    line-height: 1;
}
.ereaders-contact-info ul li:hover span {
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.ereaders-contact-info-wrap span {
    border: 1px solid #ececec;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 26px;
    padding: 24px 0px 0px;
    display: inline-block;
    position: relative;
    background-color: #fff;
}
.ereaders-contact-info-wrap span.second:before {
    content: '';
    position: absolute;
    left: -11px;
    top: 50%;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    opacity: 0.20;
    margin: -6px 0px 0px;
    z-index: -1;
}
.ereaders-contact-info-wrap span.second:after {
    content: '';
    position: absolute;
    left: -16px;
    top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    opacity: 0.10;
    margin: -10px 0px 0px;
    z-index: -1;
}
.ereaders-contact-info-wrap span small {
    position: absolute;
    right: -8px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: -3px 0px 0px;
    z-index: -1;
}
.ereaders-contact-info-wrap span.left small { right: auto; left: -8px;}
.ereaders-contact-info-wrap span small:before {
    content: '';
    position: absolute;
    right: -3px;
    top: -3px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    opacity: 0.20;
}
.ereaders-contact-info-wrap span small:after {
    content: '';
    position: absolute;
    right: -7px;
    top: -7px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    opacity: 0.10;
}
.ereaders-contact-info-wrap span i {
    display: inline-block;
    font-size: 50px;
    position: relative;
}
.ereaders-contact-info-wrap span.second i:after {
    content: '';
    position: absolute;
    left: -31px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: -3px 0px 0px;
    z-index: -1;
}
.ereaders-contact-info-wrap h5 {
    text-transform: uppercase;
    margin: 0px 0px 13px;
    letter-spacing: 1.2px;
}
.ereaders-contact-info-wrap p {
    display: inline-block;
    width: 60%;
    margin: 0px;
    line-height: 26px;
}
.ereaders-contact-info-wrap a {
    display: block;
    line-height: 1.8;
    margin: 0 0 0px;
    color: #7e7e7e;
}
.ereaders-contact-form {
    float: left;
    width: 50%;
    padding: 36px 24px 0 30px;
}
.ereaders-contact-form h2 {
    margin: 0px 0 14px 0;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1.5px;
}
.ereaders-contact-form p {
    line-height: 26px;
    margin: 0px 0 33px 0;
}
.ereaders-contact-form ul { margin: 0 -15px; }
.ereaders-contact-form ul li {
    float: left;
    width: 50%;
    list-style: none;
    margin-bottom: 30px;
    padding: 0 15px;
    position: relative;
}
.ereaders-contact-form ul li.full-form textarea {
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 10px 18px 0 20px;
    font-size: 12px;
    color: #2e2e2e;
}
.ereaders-contact-form > ul > li.full-form > i { top: 19px;}
.ereaders-contact-form ul li input[type="text"],
.ereaders-contact-form ul li input[type="email"] {
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 20px;
    color: #7e7e7e;
}
.ereaders-contact-form ul li i {
    position: absolute;
    right: 36px;
    top: 14px;
    color: #bbbbbb;
    font-size: 12px;
}
.ereaders-contact-form ul li input[type="submit"] {
    float: left;
    color: #ffffff;
    border-radius: 5px;
    height: 35px;
    border: none;
    padding: 0 20px;
}
.ereaders-contact-form ul li input[type="submit"]:hover { background-color: #2e2e2e;}
/*map*/
.ereders-contact-map {
    float: left;
    width: 50%;
}
.ereders-contact-map #map {
    width: 100%;
    height: 535px;
}
/*search result*/
.eraders-search-wrap {
    float: left;
    width: 50%;
    text-align: center;
    box-shadow: 0 2px 15px rgba(0,0,0,0.10);
    padding: 75px 54px 54px;
    position: relative;
}
.eraders-search-wrap:before {
    content: "\e923";
    position: absolute;
    left: 50%;
    top: -7px;
    color: rgba(0,0,0,0.03);
    font-family: 'icomoon';
    font-size: 260px;
    margin-left: -150px;
}
.eraders-search-wrap h3 {
    margin: 0px 0px 16px;
    line-height: 1;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
}
.eraders-search-wrap p {
    display: inline-block;
    font-size: 15px;
    color: #7e7e7e;
    width: 65%;
    margin: 0 0 33px 0;
    line-height: 26px;
    position: relative;
}
.eraders-search-wrap form {
    position: relative;
    margin-bottom: 40px;
}
.eraders-search-wrap form input[type="text"] {
    height: 40px;
    background-color: inherit;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding-left: 15px;
    color: #bbbbbb;
    font-size: 12px;
}
.eraders-search-wrap form label {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
}
.eraders-search-wrap form label input[type="submit"] {
    float: left;
    height: 40px;
    border: none;
    color: #ffffff;
    padding: 0 30px;
    border-radius: 0px 5px 5px 0px;
}
.eraders-search-btn {
    display: inline-block;
    font-size: 15px;
    font-size: 15px;
    color: #ffffff;
    line-height: 1;
    padding: 12px 25px 13px;
    border-radius: 5px;
    position: relative;
    letter-spacing: 0.4px;
}
.eraders-search-btn:hover { background-color: #2e2e2e; }
.eraders-search-btn i{
    float: right;
    font-size: 6px;
    margin: 3px 0px 0px 12px;
}
.eraders-back-thumb {
    float: left;
    width: 50%;
    text-align: center;
}
.eraders-serch-full { padding: 100px 0 0px 0; }
/*error 404*/
.ereaders-error-wrap {
    float: left;
    width: 100%;
}
.ereaders-error-full { padding: 43px 0 0 0;}
.ereaders-error-wrap {
    background-image: url("extra-images/error-pic.png");
    background-position: right top;
    background-repeat: no-repeat;
    padding: 67px 112px 90px 0;
}
.ereaders-error-text {
    float: right;
    background-color: #ffffff;
    width: 623px;
    text-align: center;
    padding: 51px 0 70px 0;
    border-radius: 3px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.10);
}
.ereaders-error-text h2 {
    display: inline-block;
    margin: 0px 0px 20px;
    line-height: 1;
    font-size: 150px;
}
.ereaders-error-text h2 img { margin: 13px 7px 0px; }
.ereaders-error-text span {
    display: block;
    letter-spacing: 1.5px;
    font-size: 26px;
    text-transform: uppercase;
    color: #2e2e2e;
    margin: 0px 0 15px;
}
.ereaders-error-text p {
    display: inline-block;
    margin: 0px 0px 24px;
    color: #7e7e7e;
    font-size: 15px;
    width: 55%;
}
/*slider*/
.ereaders-partner-two.ereaders-partner-slider a:hover { opacity: 1; }
.ereaders-partner-two.ereaders-partner-slider a img {
    filter: none;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 3px;
    padding: 10px 28px;
}
/*pricing featured*/
.ereaders-pricing-featured,.ereaders-featured-heading,.ereaders-featured-list > ul,
.ereaders-featured-text,.ereaders-featured-list {
    float: left;
    width: 100%;
}
.ereaders-pricing-featured > ul {
    margin: 0 -12px;
}
.ereaders-pricing-featured > ul > li {
    float: left;
    width: 33.333%;
    list-style: none;
    padding: 0 12px;
    margin: 0px 0px 30px;
}
.ereaders-featured-text {
    text-align: center;
    border-radius: 5px;
    padding: 17px 0px 40px;
    border: 1px solid #ececec;
}
.ereaders-featured-text h5 {
    font-size: 20px;
    color: #2e2e2e;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.ereaders-featured-heading {
    position: relative;
    background-color: #f8f8f8;
    margin: 0px 0px 30px;
    padding: 16px 0 14px;
}
.ereaders-featured-heading h3 {
    display: inline-block;
    font-size: 50px;
    margin: 0px;
    line-height: 1;
    position: relative;
}
.ereaders-featured-heading h3 small {
    float: left;
    font-size: 18px;
    margin-top: 6px;
    color: #2e2e2e;
}
.ereaders-featured-heading span { font-size: 12px; color: #7e7e7e;  }
.ereaders-featured-heading:before {
    content: '';
    width: 51%;
    height: 11px;
    position: absolute;
    left: 0px;
    bottom: -5px;
    background-color: #f8f8f8;
    box-shadow: 0 7px 6px rgba(0,0,0,0.07);
}
.ereaders-featured-heading:after {
    content: '';
    width: 50%;
    height: 11px;
    position: absolute;
    right: 0px;
    bottom: -5px;
    background-color: #f8f8f8;
    box-shadow: 0 7px 6px rgba(0,0,0,0.07);
}
.ereaders-featured-list { padding: 0px 72px;}
.ereaders-featured-list > ul { margin: 0px 0px 17px;}
.ereaders-featured-list > ul > li {
    float: left;
    list-style: none;
    width: 100%;
    padding: 12px 0px;
    position: relative;
    border-bottom: 1px solid #ececec;
}
.ereaders-featured-list > ul > li:last-child { border-bottom: none;}
.ereaders-pricing-featured .ereaders-simple-btn {
    font-weight: 400;
    font-size: 15px;
    float: none;
    display: inline-block;
    padding: 6px 29px 6px;
    background-color: #2e2e2e;
}
.ereaders-pricing-featured > ul > li.active .ereaders-featured-text { border: 1px solid; }
.ereaders-pricing-featured > ul > li.active .ereaders-featured-heading h3 { color: #ffffff; }
.ereaders-pricing-featured > ul > li.active .ereaders-featured-text h3 small,
.ereaders-pricing-featured > ul > li.active .ereaders-featured-heading h3 span { color: #ffffff; }

/*form*/
.output_message {
    float: left;
    width: 100%;
    padding-top: 15px;
}
.success-msg,.spam-error-msg,.error-msg {
    float: left;
    padding: 7px 0px 7px 40px;
    width: 100%;
    font-style: normal;
    border-radius: 4px;
    background: #D4FECC;
    color: #5A974F;
    position: relative;
}
.spam-error-msg {
    background: #FEFCCB;
    color: #8F9031;
}
.error-msg {
    background-color: #ff0000;
    color: #ffffff;
}
.ereaders-contact-form ul li.full-width .success-msg > i,.ereaders-contact-form ul li.full-width .spam-error-msg > i,.ereaders-contact-form ul li.full-width .error-msg > i {
    position: absolute;
    left: 15px;
    top: 7px;
    color: #5A974F;
    font-size: 16px;
    margin-top: 6px;
}
.ereaders-contact-form ul li.full-width .spam-error-msg > i { color: #8F9031; }
.ereaders-contact-form ul li.full-width .error-msg > i { color: #ffffff; }
.widget_contact_form .output_message {
    width: 100%;
    padding: 10px 0 0;
}
.ereaders-contact-form ul li.full-width { width: 100%; }
.ereaders-contact-form ul li:last-child { margin-bottom: 15px; }
